* {
  text-align: center;
}

.card {
  border: 2px solid #222222;
}

.card-body {
  padding: 1rem;
  color: #dddddd;
  background: #222222;
}

a:hover {
  color: #01d277;
}

.green-text {
  color: #01d277;
}

.overview-text {
  max-width: 75ch;
  margin: auto;
}

.make-text-selectable {
  pointer-events: none;
}

#cast-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#cast-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cast-list a .card {
  max-width: 154px;
  background-color: #222222;
}

#cast-list a .card p {
  color: limegreen;
  font-size: 1rem;
}
#cast-list a .card img {
  border: 2px solid #121212;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 1.25rem !important;
  }

  #flickk-icon {
    height: 1.5rem !important;
  }

  #tmdb-logo a {
    font-size: 0.8rem !important;
    font-weight: 200 !important;
  }

  #tmdb-logo a img {
    height: 1.75rem !important;
  }

  #movie-card-container {
    padding: 1rem 0 !important;
  }
  #movie-card-div {
    padding: 0 !important;
  }

  #movie-card-container .card-title {
    font-size: 1.2rem !important;
  }

  #movie-card-container .card {
    border: 0 !important;
  }
}
