* {
  text-align: center;
}

.card {
  border: 2px solid #222222;
}

.card-body {
  padding: 1rem;
  color: #dddddd;
  background: #222222;
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 1.25rem !important;
  }

  #flickk-icon {
    height: 1.5rem !important;
  }

  #tmdb-logo a {
    font-size: 0.8rem !important;
    font-weight: 200 !important;
  }

  #tmdb-logo a img {
    height: 1.75rem !important;
  }
}
