* {
  text-align: center;
}

#homepage-container .card-group {
  justify-content: center;
}

#homepage-container .card {
  border: 2px solid #575757;
}

h2 {
  color: #dddddd;
}

.card-body {
  padding: 1rem;
  color: #dddddd;
  background: #222222;
}

a:hover {
  color: #01d277;
}

a {
  color: #69acf3;
}

.green-text {
  color: #01d277;
}

.overview-text {
  max-width: 75ch;
  margin: auto;
}

.circle {
  color: #dddddd;
  padding: 0 0.5rem;
}

.make-text-selectable {
  pointer-events: none;
}

#cast-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#cast-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#cast-list a .card {
  background-color: #222222;
  box-sizing: content-box;
  width: 154px;
}

#cast-list a .card p {
  color: limegreen;
  font-size: 1rem;
}
#cast-list a .card img {
  width: 154px;
  height: auto;
  margin: auto;
  /* border: 2px solid #121212; */
  box-shadow: 0 0px 2px black;
  border-radius: 5px;
}

.visit-movie-website {
  color: limegreen;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 1.25rem !important;
  }

  #flickk-icon {
    height: 1.5rem !important;
  }

  #tmdb-logo a {
    font-size: 0.8rem !important;
    font-weight: 200 !important;
  }

  #tmdb-logo a img {
    height: 1.75rem !important;
  }

  #movie-card-container {
    padding: 1rem 0 !important;
  }
  #movie-card-div {
    padding: 0 !important;
  }

  #movie-card-container .card-title {
    font-size: 1.35rem !important;
  }

  #movie-card-container .card {
    border: 0 !important;
  }
}
