html {
  background: #121212;

  /* Scrollbar Properties For Firefox Browser */
  scrollbar-width: thin;
  scrollbar-color: #339933 #000000;
}

body {
  background: #121212;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track {
  background-color: #339933;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #339933;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
